@tailwind base;
@tailwind components;
@tailwind utilities;

.box-equal {
  @apply flex items-center;
}

.box-center {
  @apply flex items-center justify-center;
}

.box-between {
  @apply flex items-center justify-between;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

button:hover,
a:hover {
  opacity: 0.7;
}
